.icon-bar {
  width: 75%; /* Set a specific width */
  background-color: #5c5c5c60; /* Dark-grey background */
  margin-left: auto;
  margin-right: auto;
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: rgb(0, 0, 0); /* White text color */
  font-size: 16px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #00000065; /* Add a hover color */
  color: aliceblue;
}

#home {
  width: 100%;
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 90px; /* Increased font-size */
}
body {
  background-image: url(q1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: normal;
}
